<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rich.music.mapper.AlbumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rich.music.pojo.Album">
        <id column="id" property="id" />
        <result column="album_name" property="album_name" />
        <result column="song_id" property="song_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, album_name, song_id
    </sql>

</mapper>
